* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: rgb(34, 31, 31);
    color: white;
}

.main {
    display: flex;
    justify-content: space-around;
    font-size: 50px;

}
.images {
    filter: brightness(15%);
}